body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.center{
  display: flex;
  justify-content: center;
}
.particles{
  position: fixed;
  top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 
}